* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

header {
  color: white;
  background-color: #ff6b0b;
  height: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

main {
  height: 93%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

select {
  margin-left: 1%;
  height: 75%;
  border-radius: 0.3rem;
  padding-left: 5px;
  padding-right: 20px;
  font-size: large;
  font-weight: bold;
  height: 80%;
  border: 0;
  box-shadow: 2px 2px 6px lightgray;
}

option {
  font-size: large;
}

ul {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  background-color: whitesmoke;
  box-shadow: 2px 2px 8px darkgray;
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0.5rem; */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

input {
  /* background-color: whitesmoke; */
  cursor: pointer;
}

/* #headerTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: larger;
} */

#liTextCode {
  width: 30%;
  display: flex;
  justify-content: start;
  align-items: center;
  align-self: center;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  font-weight: bold;
}

#liTextUses {
  text-align: center;
}

#liTextDateExpired,
#liTextDateCreated {
  align-self: center;
  width: 80%;
  text-align: center;
}

#liTextDateExpired {
  font-weight: bold;
}

#liTextDateCreated::-webkit-calendar-picker-indicator {
  display: none;
}

.cursorPointer {
  cursor: pointer;
}

.cursorDefault {
  cursor: default;
}

#removeCouponCode {
  margin-bottom: 4rem;
}

#liID {
  display: none;
}

/* #editButton {
  fill: orange;
} */

#removeButton {
  fill: red;
}

.section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-y: scroll;
}

#usesCount,
#couponsCount,
#redirectsCount {
  margin-left: 0.5rem;
}

#listSectionHeader {
  width: 98%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 2px 2px 6px lightgray;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#couponsSort {
  height: 100%;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

#couponsSortContainer {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

#logoutButton {
  height: 60%;
  font-weight: bold;
}

#modalBackground {
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modalContainer {
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#removeModal {
  height: 35%;
}

#editCouponCode {
  /* text-transform: uppercase; */
  text-align: center;
  font-weight: bold;
  width: 60%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#editCouponRedirects {
  width: 60px;
}

#editCouponUses {
  width: 60px;
}

.listCouponInput {
  width: 50%;
  padding: 0.5rem;
}

.listContainer {
  width: 98%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.liIcon {
  width: 5%;
  height: 20px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.textDanger {
  color: red;
}

.liTextDateContainer {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.liTextUsesContainer {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.liTextDateText {
  display: flex;
  justify-content: center;
  width: 100%;
  /* margin-bottom: 0.5rem; */
}

.liTextDate {
  width: 100%;
  font-size: medium;
  display: flex;
  justify-content: center;
}

.liTextBig {
  font-size: larger;
  font-weight: bold;
}

.liContent {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.countContainer {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
}

.arrowIcon {
  height: 20px;
  fill: dimgray;
  cursor: pointer;
  align-items: center;
  margin-left: 1rem;
}

.headerText {
  font-size: large;
  font-weight: bold;
}

.defaultButton {
  box-shadow: 2px 2px 6px lightgray;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.3rem;
}

.defaultButton:active {
  transform: translate(0.1rem, 0.1rem);
}

.defaultButton:hover {
  filter: brightness(120%);
}

.cancelButton {
  background-color: gray;
  color: white;
}

.saveButton {
  background-color: green;
  color: white;
}

.deleteButton {
  background-color: red;
  color: white;
}

.primaryButton {
  background-color: dodgerblue;
  color: white;
}

.modalWindow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0.3rem;
  width: 40%;
  height: 50%;
}

.requiredField {
  border-style: solid;
  border-color: red !important;
}

.modalText {
  font-size: large;
}

.modalTextCoupon {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 2rem;
}

.modalLine {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.modalButtons {
  margin-top: 2rem;
}

.editCouponInput {
  border-color: lightgray;
  font-size: medium;
  text-align: center;
  border-radius: 0.3rem;
  padding: 0.2rem;
}

.configContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.configLine {
  font-size: large;
  border-radius: 0.3rem;
  box-shadow: 2px 2px 6px gray;
  width: 40%;
  margin-top: 1rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.configText {
  display: flex;
  justify-content: start;
}

.configInput {
  font-size: large;
  font-weight: bold;
  width: 60px;
}

@media only screen and (max-width: 768px) {
  li {
    width: 90%;
  }

  .liContent {
    flex-direction: column;
  }

  .liTextDateContainer {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .liTextDateText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }

  .liTextDate {
    display: flex;
    justify-content: start;
    font-size: medium;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .liTextUses {
    width: 100%;
    display: flex;
    justify-content: start;
    font-size: larger;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
  }

  .liIcon {
    height: 50px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }

  #listSectionHeader {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  #couponsSortContainer,
  #addCouponButton {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .modalWindow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.3rem;
    width: 90%;
    height: 60%;
  }

  .modalLine {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  #modalEditCancelButton,
  #modalSaveButton,
  #modalRemoveButton {
    height: 40px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

.hidden {
  display: none !important;
}
